[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
psycopg2-binary = "*"
pillow = "*"
products = "*"
celery = "==4.4.7"
flower = "==0.9.7"
braintree = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pytest = "*"
black = "==21.9b0"
isort = "*"
wemake-python-styleguide = "*"

[requires]
python_version = "3.9"
